*.iml
target
.idea
.idea_modules
.vscode
.DS_Store
.scala_dependencies
.classpath
.project
.settings/
.cache-main
.cache-tests
.so
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.cache-tests
.so
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
pip-log.txt
.coverage
.nox
.tox
.cache
.pytest_cache
htmlcov
